body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-image: url('img/portada.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-overlay {
    background: rgba(0, 0, 0, 0.5); /* Oscurecer ligeramente la imagen de fondo */
    padding: 20px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.item {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item img {
    max-width: 80px;
    margin-bottom: 10px;
}

.item p {
    margin: 0;
    color: white;
}